---
layout: layouts/main.njk
eleventyComputed:
  hero:
    title: "Downloads"
---
{% set currentTag = '' %}

<!-- Determine the current tag of the page -->
{% for post in collections.download %}
  {% if page.url == post.url %}
    {% set currentTag = post.data.tags[1] %}
  {% endif %}
{% endfor %}

<ul class="version-switcher">
    <li class="{% if "stable" == currentTag %}version-switcher-active{% endif %}">
      <a href="{{ '/download/stable' | url }}/{{ page.url | lastSection }}">Stable ({{version.current}})</a>
    </li>
    <li class="{% if "nightly" == currentTag %}version-switcher-active{% endif %}">
      <a href="{{ '/download/nightly' | url }}/{{ page.url | lastSection }}">Nightly</a>
    </li>
</ul>

{% if "nightly" == currentTag %}
<div class="notification type-warn top">
  Nightly versions are unstable and should only be used for testing, expect bugs.
</div>
{% endif %}

{{ collections[currentTag] | eleventyNavigation | eleventyNavigationToHtml({ activeKey: eleventyNavigation.key, listClass: 'download-tab-list', activeListItemClass: 'download-tab-active' }) | safe }}

{{ content | safe }}